<!DOCTYPE html>
<html>
<head>
  <title> Hey! Hi! </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_me.css') }}">
</head>
<body>
  <div class="top-container">
     <div class="contents">
       Hey! Hi.
      </div>
  </div>

Hi folks, A machine learning model which i've trained makes the predictions, details about how it was created, and it's level of accuracy can be found in my github repository <a href="http://www.github.com/osinkolu"> here</a>.
<p>
  
</p>
<body>
 <div class="largecontents">
  <h1>What can you tell about me?</h1>
  <img height="256" src="{{ user_image }}" id="output"/>
  <p> </p>
    <div>
    <form action="{{ url_for('predict')}}"method="post" enctype=multipart/form-data>

    <label>Upload image</label>
  <input type="file" name=file accept="image/*" capture="camera" onchange="loadFile(event)">
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script
 </div>
    <br>
   <br>
    <div>
    <button type="submit">Predict info</button>
    </div>

    </form>

   <br>
   <br>
   {{ prediction_text }}


    <p> </p>
   <p> </p>

   Tools:
   <p> </p>
   <div class="image-row">
    <img id="image" src= "{{ url_for('static', filename='web_images/fastai.png') }}">
    <img id="image" src= "{{ url_for('static', filename='web_images/colab.png') }}">
    <img id="image" src= "{{ url_for('static', filename='web_images/opencv.png') }}">
  </div>


 </div>

</div>
<p> </p>
<div class="bottom-container">
    <div class="flex-bottom-container">
      <div class="copyright-details">
      copyright &copy 2020 <a href="osinkolu.github.io" target="_blank">OlufemiVictorWebsite.</a> Designed and developed by Olufemi Victor.
      </div>
      <a href="mailto: femiosinkolu@gmail.com" target= _blank><img id="gmail-icon" src="{{ url_for('static', filename='web_images/gmail.png') }}"></a>
      <a href="https://www.linkedin.com/in/victor-olufemi-a44924192/" target= _blank><img id="linkedin-icon" src="{{ url_for('static', filename='web_images/linkedin.png') }}"></a>
      <a href="https://twitter.com/profvictor001" target= _blank><img id="twitter-icon" src="{{ url_for('static', filename='web_images/twitter.png') }}"></a>
      <a href="https://www.facebook.com/profile.php?id=100009859840576" target= _blank><img id="facebook-icon" src="{{ url_for('static', filename='web_images/facebook.png') }}"></a>
    </div>
  </div>


</body>
</html>
